<?xml version="1.0"?>
<launch>

	<node pkg="kinfu" type="RGBD_link_tf_broadcaster" name="link_tf_broadcaster" output="screen">
	<param name="prefix_topic" value="/kinect"/>
	</node>

<!--	
<node pkg="tf" type="static_transform_publisher" name="kinect_link_broadcaster" args="0.133 -0.012 0.990 0.018 0.266 -0.048 0.963 world kinect_link 100" />
-->

  <include file="$(find freenect_launch)/launch/freenect.launch">
    <arg name="camera" value="kinect"/>
  </include>

  <arg name="new_window" default="false"/>
  <arg name="window_size" default="70x20+0+0"/>
  <arg name="window_title" default="ros_kinfu"/>
  <group if="$(arg new_window)">
    <node pkg="kinfu" type="kinfu" name="kinect_kinfu" output="screen" launch-prefix="gnome-terminal --title=$(arg window_title) --geometry $(arg window_size) --command">
	  <param name="prefix_topic" value="/kinect" />
	  <param name="autostart" value="true" />
	  <param name="extract_known_points" value="true" />
		
		<param name="volume_size" value="1.2"/>
		<param name="shift_distance" value="0.6"/>
	</node>
  </group>

  <group unless="$(arg new_window)">
    <node pkg="kinfu" type="kinfu" name="kinect_kinfu" output="screen">
	  <param name="prefix_topic" value="/kinect" />
	  <param name="autostart" value="true" />
	  <param name="extract_known_points" value="true" />

		<param name="volume_size" value="1.2"/>
		<param name="shift_distance" value="0.6"/>
	</node>
  </group>

</launch>
