<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="foam_cutter">
  <xacro:macro name="foam_cutter" params="side">
    <xacro:property name="gripper_side" value="${side[0]}" scope="local"/>


		<link name="${side}_gripper_base">
      <visual>
        <origin rpy="${-pi/2} ${pi} ${pi/2}" xyz="0.050 0.013 0.030"/>
        <geometry>
          <mesh filename="package://baxter_custom_urdf/meshes/foam_cutter.STL" />
        </geometry>
      </visual>
      <collision>
        <origin rpy="${-pi/2} ${pi} ${pi}" xyz="-0.037 0.037 0"/>
        <geometry>
          <cylinder length="0.25" radius="0.029"/>
        </geometry>
        <material name="darkred">
          <color rgba="0.1 0.1 0.1 1"/>
        </material>
      </collision>
      <inertial>
        <origin rpy="${-pi/2} ${pi} ${pi}" xyz="-0.037 0.037 0"/>
        <mass value="0.3"/>
        <inertia ixx="1e-08" ixy="0" ixz="0" iyy="1e-08" iyz="0" izz="1e-08"/>
      </inertial>
    </link>


		<link name="${side}_gripper">
     <inertial>
       <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
       <mass value="0.0001"/>
       <inertia ixx="1e-08" ixy="0" ixz="0" iyy="1e-08" iyz="0" izz="1e-08"/>
     </inertial>
   </link>


    <joint name="${side}_gripper_base" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <parent link="${side}_hand"/>
      <child link="${side}_gripper_base"/>
    </joint>


		<joint name="${side}_endpoint" type="fixed">
      <origin rpy="0 ${-pi/2} 0" xyz="0 0 0.180"/>
      <parent link="${side}_gripper_base"/>
      <child link="${side}_gripper"/>
    </joint>
  </xacro:macro>
</robot>
